
BlazingSurvey/BlazingSurvey/Client/obj/
BlazingSurvey/BlazingSurvey/Client/bin/

BlazingSurvey/BlazingSurvey/Server/obj/
BlazingSurvey/BlazingSurvey/Server/bin/

BlazingSurvey/BlazingSurvey/Shared/obj/
BlazingSurvey/BlazingSurvey/Shared/bin/

BlazingSurvey/BlazingSurvey.ComponentsLibrary/obj/
BlazingSurvey/BlazingSurvey.ComponentsLibrary/bin/